:root {
  --color: #ccc;
  --button-color: #ddd;
  --shadow: #00000026;
  --bg: #14121d;
  --component-bg: #1a202c;
  --card-txt: #f9f9f9;
  --speech-text: #f8f8f8;
  --footer-txt: #f9f9f9;

}
body {
  font-family: 'Merriweather Sans', serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;

}
* {
  color: var(--color);
}
.speechText {
  color: var(--speech-text);
  text-align: center;
  font-size: 1.2rem;
}
.speechText:first-letter, ul > li::first-letter {
  text-transform: capitalize;
}
.speechButton {
  background: var(--button-color);
  box-shadow: 0 0.5rem 1rem var(--shadow);
  border-radius: 50px;
  height: 80px;
  width: 80px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.speechButton.recording {
  width: 70px;
}
.speechButton:focus {
  box-shadow: 0 0.5rem 1rem var(--shadow);
}
/* dots animation */
/* Containers */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.preloader-dots {
  height: 25px;
  width: 100%;
}

.preloader-dots .dot {
  display: inline-block;
  background: #666;
  height: 8px;
  width: 8px;
  opacity: 0.3;
  border-radius: 50%;
  animation: moveit 1.8s infinite;
  margin: 0 2px;
}

.dot:nth-child(2) {
  animation-delay: .15s;
}

.dot:nth-child(3) {
  animation-delay: .3s;
}

.dot:nth-child(4) {
  animation-delay: .45s;
}

.dot:nth-child(5) {
  animation-delay: .6s;
}

@keyframes moveit {
  0% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(0px);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-10px);
    opacity: 0.8;
  }

  70% {
    transform: translateY(3px);
    opacity: 0.8;
  }

  85% {
    transform: translateY(-3px);
  }
}
/* card */
.card {
  background: rgba(207, 207, 207, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(207, 207, 207, 0.15);
}
.card-text {
  color: var(--card-txt);
}
/* list */
ul {
  list-style-type: none;
}
/* footer */
.footer {
  padding: 1rem 0;
  background: var(--bg)
}

/* pill text */
.pill-container {
  display: flex;
  overflow-x: auto;
}
.pill-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  color: var(--component-bg);
}

.badge-pill {
  cursor: pointer;
}
.badge-pill:hover {
  background: var(--component-bg);
}
.badge-pill:hover .pill-text {
  color: var(--card-txt);
}